PORT=5000
MONGO_URI=mongodb+srv://bgamerboy64:RHHJFKbga5TvbGIY@cluster0.4i64p.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
NODE_ENV=development
JWT_SECRET=a-string-secret-at-least-256-bits-long
TMDB_API_KEY=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwYWQ0ODQ2MGI3YjM0ZDk1MmNkYTAyM2I1OTY5YmU1MSIsIm5iZiI6MTc0MjMzMTAxNy41MjE5OTk4LCJzdWIiOiI2N2Q5ZGM4OWFjOWYwZjBkNmEwZThjMWYiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.ZqX9qDvnZ4Ce6EUl15ThdOOyuOM2xt8evDKkkAo3SBE 